@import "tailwindcss";

:root {
  --solarized-base03: #002b36;
  --solarized-base02: #073642;
  --solarized-base01: #586e75;
  --solarized-base00: #657b83;
  --solarized-base0: #839496;
  --solarized-base1: #93a1a1;
  --solarized-base2: #eee8d5;
  --solarized-base3: #fdf6e3;
  --solarized-yellow: #b58900;
  --solarized-orange: #cb4b16;
  --solarized-red: #dc322f;
  --solarized-magenta: #d33682;
  --solarized-violet: #6c71c4;
  --solarized-blue: #268bd2;
  --solarized-cyan: #2aa198;
  --solarized-green: #859900;
  
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body, dialog {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains-mono);
  white-space: normal;
  overflow-wrap: anywhere;
  hyphens: auto;
}

._link {
  @apply font-bold underline hover:cursor-pointer hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black;
}

._card {
  @apply rounded-2xl bg-white dark:bg-zinc-900 shadow-lg p-6 border border-zinc-200 dark:border-zinc-700 transition-colors;
}